@import url(https://fonts.googleapis.com/css?family=Lora|Chivo);
body {
	background: url("../images/NarrowsBridge.jpg") no-repeat center center fixed;
	background-size: cover;
	text-align: center;
	color: #fff;
	font-size: 21px;
	font-weight: bold;
	font-family: 'Lora', Helvetica, serif;
}
nav {
	text-align: left;
	list-style: none;
	padding-left: 3px;
}
nav > li {
	padding: 5px;
	padding-bottom: 0px;
}
#slogan {
	font-style: italic;
	font-family: 'Lora', Helvetica, serif;
}
.center {
	margin: auto;
	padding: 10px;
	width: 50%;
}
#center-text {
	font-family: 'Chivo', sans-serif;
	line-height: 1em;
	margin: 1.5em;
	padding: 10px;
	border: 5px solid #fff;
	border-radius: 100%;
}
.fa-envelope {
	color: #2ecc71;
}
a:hover {
	color: blue;
}
a:active {
	text-decoration: none;
}