@import url(https://fonts.googleapis.com/css?family=Lora|Chivo|Lobster);
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-size: 16px;
	font-family: 'Lora', Helvetica, serif;
	color: #00303F;
}
label {
	display: none;
}
nav {
	position: fixed;
	top: 0;
	left: 0;
	border: 5px solid #5E5D62;
	z-index: 9;
	width: 100%;
	background-color: #5E5D62;
	padding: 15px;
}
nav li {
	display: block;
	float: left;
	width: 31%;
	text-align: center;
	font-size: 1.2em;
	font-weight: bolder;
}
h1, h2, h3, h4 {
	font-family: 'Chivo', sans-serif;
	padding: 7px;
}
h3 {
	font-size: 1.9em;
	text-transform: uppercase;
}
h2 {
	font-size: 1.7em;
	text-align: center;
	color: #B98D7A;
	font-weight: bolder;
}
p {
	padding: 10px;
	line-height: 30px;
	font-size: 1.4em;
}
footer {
	border: 5px solid #5E5D62;
	width: 100%;
	background-color: #5E5D62;
	display: block;
	padding: 15px;
}
footer a {
	color: #A5B7CB;
	padding-right: 20%;
	text-align: center;
	float: right;
	font-size: 1.7em;
}
span {
	color: #EBBB7F;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #A5B7CB;
}
a:hover {
	color: #B98D7A;
}
a:active {
	text-decoration: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.container {
	max-width: 1800px;
	margin: auto;
	background-color: #00303F;
}
.overlay-text {
	position: absolute;
	color: #00303F;
	top: 15%;
	left: 35%;
}
.shadow {
	-moz-box-shadow: 3px 3px 5px 6px #5E5D62;
	-webkit-box-shadow: 3px 3px 5px 6px #5E5D62;
	box-shadow: 3px 3px 5px 6px #5E5D62;
}
#home {
	position: relative;
}
#center-text {
	position: absolute;
	top: 28%;
	left: 57%;
}
#center-text h1 {
	font-family: 'Lobster', cursive;
	font-size: 3.5em;
}
#toggle {
	display: none;
	visibility: hidden;
}
#about {
	background-color: #C0CAD3;
	border: 1px black solid;
	padding: 10px;
	width: 100%;
}
#resume {
	background-color: #00303F;
	font-size: 1.3em;
	display: inline-block;
	padding: 5px;
	border-radius: 10%;
}
#info {
	padding: 10px;
	text-align: center;
	width: 75%;
	margin: auto;
}
#info img {
	border-radius: 50%;
	border: 5px #B98D7A solid;
}
#text {
	width: 60%;
	margin: auto;
}
#left {
	padding: 10px;
	width: 60%;
	margin: auto;
	line-height: 65px;
}
#right {
	padding: 10px;
	width: 80%;
	margin: auto;
	line-height: 65px;
}
#skill {
	padding: 20px;
}
#skill h3 {
	text-align: center;
}
#skill li {
	padding: 5px;
	font-size: 1.2em;
	display: block;
	float: left;
	width: 25%;
	text-align: center;
}
#skill i {
	padding: 10px;
	font-size: 3em;
	background-color: #B98D7A;
	border-radius: 50%;
}
#experience {
	padding: 20px;
}
#experience h3 {
	text-align: center;
}
#experience li {
	padding: 15px;
	font-size: 1.2em;
	display: block;
	float: left;
	width: 20%;
	text-align: center;
	line-height: 30px;
	word-spacing: 5px;
}
#experience i {
	padding: 10px;
	font-size: 3em;
	background-color: #B98D7A;
	border-radius: 50%;
}
#home img {
	width: 100%; 
	display: block;
	max-width: 1800px;
}
#portfolio {
	padding: 5px;
	width: 100%;
	height: 100%;
	background-color: #8F9EBB;
	text-align: center;
}
#portfolio h2 {
	font-size: 1.5em;
}
#project1 {
	position: relative;
	border: 3px #00303F solid;
	width: 46%;
	padding: 40px;
	float: left;
	margin: 2%;
}
#project1 img {
	width: 100%;
	display: block;
}
#project1 i {
	padding: 10px;
	background-color: #F7F6F0;
	border-radius: 50%;
	border: 3px #B98D7A solid;
}
#project2 {
	position: relative;
	border: 3px #00303F solid;
	width: 46%;
	padding: 40px;
	float: right;
	margin: 2%;
}
#project2 img {
	width: 100%;
	display: block;
}
#project2 i {
	padding: 10px;
	background-color: #F7F6F0;
	border-radius: 50%;
	border: 3px #B98D7A solid;
}
#contact {
	width: 100%;
	height: 100%;
}
@media screen and (min-width: 481px) and (max-width: 982px) {
	footer {
		font-size: .8em;
	}
	footer a {
		padding-right: 16%;
		font-size: 1.3em;
	}
	.overlay-text {
		font-size: .78em;
		top: 10%;
		left: 10%;
	}
	#center-text {
		font-size: .71em;
		top: 25%;
		left: 45%;
	}
	#center-text h2 {
		padding: 0em;
	}
	#text {
		width: 85%;
	}
	#skill li {
		font-size: .8em;
	}
	#experience li {
		font-size: .8em;
	}
}
@media screen and (max-width: 480px) {
	label {
		display: inline-block;
		background-color: #00303F;
		cursor: pointer;
		position: fixed;
		z-index: 9999;
		color: #B98D7A;
		padding: 7px;
	}
	nav {
		display: none;
	}
	nav a {
		font-size: .8em;
		display: block;
	}
	nav li {
		width: 100%;
		padding: 10px;
	}
	li {
		font-size: 1.2em;
	}
	h2 {
		font-size: 1.2em;
	}
	p {
		font-size: 1em;
	}
	footer {
		font-size: .8em;
	}
	footer a {
		padding-right: 14%;
		font-size: 1.7em;
	}
	.fa-times {
		display: none;
	}
	.overlay-text {
		font-size: .9em;
		top: 15%;
		left: 15%;
	}
	#toggle:checked + nav {
		display: block;
	}
	#toggle:checked + .fa-times {
		display: block;
	}
	#toggle:checked + .fa-bars {
		display: none;
	}
	#text {
		width: 100%;
		font-size: 1.1em;
	}
	#left {
		float: none;
		width: 60%;
		display: block;
		padding: 0px;
	}
	#right {
		float: none;
		width: 100%;
		display: block;
		padding: 0px;
	}
	#skill li{
		width: 100%;
		text-align: left;
	}
	#skill i {
		font-size: 1.5em;
	}
	#experience li {
		width: 100%;
		text-align: left;
	}
	#experience i {
		font-size: 1.5em;
	}
	#project1 {
		float: none;
		width: 95%;
		display: block;
	}
	#project2 {
		float: none;
		width: 95%;
		display: block;
	}
	#center-text {
		font-size: .65em;
		top: 20%;
		left: 43%;
	}
	#center-text h1 {
		font-size: 2.5em;
	}
	#center-text h2 {
		padding: 0em;
		font-size: 1.4em;
	}
	#info {
		width: 85%;
	}
}