@import url(https://fonts.googleapis.com/css?family=Lora|Chivo|Berkshire+Swash);
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-size: 16px;
	font-family: 'Lora', Helvetica, serif;
}
nav {
	position: fixed;
	top: 0;
	left: 0;
	border: 5px solid black;
	z-index: 9;
	width: 100%;
	background-color: black;
}
nav li {
	display: block;
	float: left;
	width: 25%;
	text-align: center;
}
nav li a {
	text-decoration: none;
	color: #99e6ff;
}
h1, h2, h3, h4 {
	font-family: 'Chivo', sans-serif;
	padding: 7px;
}
footer {
	border: 5px solid black;
	width: 100%;
	background-color: black;
	color: #99e6ff;
	display: block;
}
footer a {
	color: #99e6ff;
	padding-right: 20%;
	text-align: center;
	float: right;
}
li {
	list-style: none;
}
a:hover {
	color: blue;
}
a:active {
	text-decoration: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
/*.info-box {*/
	/*width: 33.3333%;*/
	/*height: 0;*/
	/*padding-bottom: 50%;*/
	/*overflow: hidden;*/
/*}*/
.project-box {
	padding: 10px;
}
#home {
	position: relative;
}
#center-text {
	position: absolute;
	top: 25%;
	left: 65%;
}
#center-text h1 {
	font-family: 'Berkshire Swash', cursive;
	font-size: 2.5em;
}
#center-text h3 {
	font-size: 1.2em;
	text-align: center;
}
#about {
	background-color: #d1d1e0;
	border: 1px black solid;
	padding: 10px;
}
#left {
	padding: 10px;
	float: left;
	width: 33%;
}
#center {
	padding: 10px;
	float: left;
	width: 33%;
}
#right {
	padding: 10px;
	float: left;
	width: 33%;
}
#skill {
	padding: 20px;
	float: left;
	width: 40%;
}
#experience {
	padding: 20px;
	float: left;
	width: 44%;
}
#home img {
	width: 100%; 
	display: block;
}
#portfolio {
	padding: 10px;
	width: 100%;
	height: 100%;
	background-color: #ccffeb;
	text-align: center;
}
#project1 {
	border: 3px black solid;
	width: 40%;
	padding: 40px;
	margin: 5%;
	float: left;
	border-radius: 10%
}
#project2 {
	border: 3px black solid;
	width: 40%;
	padding: 40px;
	margin: 5%;
	float: left;
	border-radius: 10%
}
#contact {
	width: 100%;
	height: 100%;
}
@media screen and (max-width: 768px) {
	body {
	}
}
@media screen and (max-width: 400px) {
	.info-box {
		float: none;
		width: 100%;
	}
}