@import url(https://fonts.googleapis.com/css?family=Lora|Chivo|Lobster);
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-size: 16px;
	font-family: 'Lora', Helvetica, serif;
	color: #00303F;
}
nav {
	position: fixed;
	top: 0;
	left: 0;
	border: 5px solid #00303F;
	z-index: 9;
	width: 100%;
	background-color: #00303F;
}
nav li {
	display: block;
	float: left;
	width: 25%;
	text-align: center;
}
h1, h2, h3, h4 {
	font-family: 'Chivo', sans-serif;
	padding: 7px;
}
h3 {
	font-size: 1.5em;
	text-transform: uppercase;
}
h2 {
	font-size: 1.2em;
	text-align: center;
	color: #DCAE1D;
}
p {
	padding: 5px;
}
footer {
	border: 5px solid #00303F;
	width: 100%;
	background-color: #00303F;
	color: #99e6ff;
	display: block;
}
footer a {
	color: #99e6ff;
	padding-right: 20%;
	text-align: center;
	float: right;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #99e6ff;
}
a:hover {
	color: white;
}
a:active {
	text-decoration: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.project-box {
	padding: 10px;
}
#home {
	position: relative;
}
#center-text {
	position: absolute;
	top: 25%;
	left: 65%;
}
#center-text h1 {
	font-family: 'Lobster', cursive;
	font-size: 2.5em;
}
#about {
	background-color: #CAE4DB;
	border: 1px black solid;
	padding: 10px;
}
#resume {
	background-color: #00303F;
	display: inline-block;
	padding: 5px;
}
#left {
	text-align: center;
	padding: 10px;
	width: 75%;
	margin: auto;
}
#center {
	padding: 10px;
	float: left;
	width: 50%;
	margin: auto;
}
#right {
	padding: 10px;
	float: left;
	width: 50%;
	margin: auto;
}
#skill {
	padding: 20px;
}
#skill li {
	padding: 3px;
}
#skill i {
	padding: 10px;
	background-color: #99e6ff;
	border-radius: 50%;
}
#experience {
	padding: 20px;
}
#experience li {
	padding: 3px;
}
#experience i {
	padding: 10px;
	background-color: #99e6ff;
	border-radius: 50%;
}
#home img {
	width: 100%; 
	display: block;
}
#portfolio {
	padding: 10px;
	width: 100%;
	height: 100%;
	background-color: #7A9D96;
	text-align: center;
}
#portfolio h2 {
	font-size: 1.5em;
}
#project1 {
	border: 3px #00303F solid;
	width: 50%;
	padding: 50px;
	margin: auto;
	float: left;
}
#project1 i {
	padding: 10px;
	background-color: #99e6ff;
	border-radius: 50%;
}
#project2 {
	border: 3px #00303F solid;
	width: 50%;
	padding: 50px;
	margin: auto;
	float: left;
}
#project2 i {
	padding: 10px;
	background-color: #99e6ff;
	border-radius: 50%;
}
#contact {
	width: 100%;
	height: 100%;
}
@media screen and (max-width: 768px) {
	body {
	}
}
@media screen and (max-width: 420px) {
	p {
		font-size: 1.2em;
	}
	li {
		font-size: 1.2em;
	}
	#center {
		float: none;
		width: 100%;
		display: block;
	}
	#right {
		float: none;
		width: 100%;
		display: block;
	}
	#project1 {
		float: none;
		width: 100%;
		display: block;
	}
	#project2 {
		float: none;
		width: 100%;
		display: block;
	}
	#center-text {
		font-size: .8em;
	}
}