body {
	text-align: center;
	background-color: #bdc3c7;
	color: #000;
	font-size: large;
	font-weight: bold;
	font-style: "Trebuchet MS", Helvetica, sans-serif;
}
.nav-bar > ul {
	text-align: left;
	list-style: none;
	padding: 0px;
}
.nav-bar > ul > li {
	padding: 5px;
	padding-bottom: 0px;
}
#slogan {
	font-style: italic;
}
.center {
	background: url("http://i.imgur.com/UEApH6o.jpg");
	background-size: cover;
	color: #fff;
	padding: 300px;
	border: 10px solid #fff;
	border-radius: 50%;
}
#center-text {
	text-align: right;
}
.fa-envelope {
	color: #2ecc71;
}
a:hover {
	color: blue;
}
